* {
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-image: url("patt.png");
  }
  .header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
  }
  .conteiner {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row::after,
  .menu::after {
    content: "";
    display: block;
    clear: both;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-6 {
    width: 50%;
  }
  .Logo {
    margin-top: 8px;
  }
  [class*="col-"] {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
  .menu  li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
  }
  .menu li:last-child {
    border-right: 1px solid #2c71b8;
  }
  .menu a {
    text-decoration: none;
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
  }
  a{
    color: white;
  }
  .menu a:hover {
    color: white;
    background-color: #2c71b8;
  }
  .sear {
    border: 1px solid #2c71b1;
    width: 200px;
    height: 40px;
    margin-top: 5px;
  }
  input {
    color: #2c71b1;
    outline: none;
    border: none;
    margin-left: 19px;
    background-color: #cadbed;  
    margin-top: 10px;
  }
  button {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #2c71b1;
    top: auto;
    bottom: 23px;
    margin-bottom: 0px;
    top: -1px;left: -5px;


  }

.menu2{
  display:none;
  position: absolute;
  background-color:#2c71b1;
  width: 285px;
  height: 315px;
}
.menu > li:hover > .menu2 {
  display: block;
}
.menu > li:hover > .menu2 > li > a {
  color: white;
}
.list > a{
  margin-top:30px;
  margin-left:30px;
  margin-bottom: 25px;
}
/*main*/
/*main2*/
.main2{
  margin-top: -70px;
}
.rob{
  border-right: 1px solid white;
  width: 270px;
  height: 900px;
  margin-left: 250px;
  background-color:rgba(255, 255, 255, 0.205) ;
}
li{
  color: white;
}
.yui2{
  margin-top:60px;
}
.top{
  margin-top:25px;
}
.top2{
  font-weight: bold;
  padding-top: 40px;
  margin-top: 70px;
}
.top , .top2 , .top3 {
  font-size: 21px;
} 
.twob{
  color: white;
  font-weight: bold;
  top: 20px;
  margin-left: 35px;
  border:1px solid white;
  width: 210px;
  height: 50px;
}
.more{
  margin-top:10px;
  font-size: 21px;
  color: white;
}
.yui , .yui2 , .more {
  margin-left: 25px;
}
.top3{
  font-weight: bold;
}

.dfg{
  font-size: 14px;
  color: gray;
  margin-left: 30px;
  margin-top:30px;
}

.col{
  left: 520px;
  top: -900px;
  position: relative;
  height: 2200px;
  width: 900px;
}
h2{
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
  font-size: 48px;
}
.lefr{
  margin-left: 630px;
  width: 270px;
  height: 40px;
  color: white;
  border:1px solid white;
  background-color:#2c71b1 ;
  font-size: 21px;
  margin-top: -80px;
}
.fot{
  margin-top: 50px;
  margin-left: 30px;
  border:1px solid white;
  width: 270px;
  height: 650px;
  float: left;
}
.im{
  width: 270px;
  height: 180px;
  background-color:rgba(255, 255, 255, 0.692) ;
}
.op{
  margin-top:45px;
  margin-left: 80px;
}
.po , .lp {
  width: 30px;
  height: 30px;
  border:1px solid #2c71b1; 
}
.ff {
  margin-left: 5px;
  margin-top: 5px;
}
.po{
  margin-left: 230px;
  margin-top: -130px;
}
.lp{
  margin-left: 230px;
  margin-top: 5px;
}
.qw{
  margin-top:15px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.lr{
  color: white;
  font-size: 21px;
  margin-left: 15px;
  margin-top:20px;
}
span{
  font-weight: bold;
  color: white;
}
.kp{
  margin-left: 15px;
  font-size: 21px;
  color:white;
  margin-top:15px;
}
.df{
  color: white;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 21px;
}
.gh{
margin-top: 15px;
margin-left: 15px;
font-size: 21px;
color:white;
}
.c{
  margin-left: 65px;
}
.v{
  position: relative;
  left: 180px;
  top: -50px;
  font-size: 21px;
}
.pb{
  width: 210px;
  height: 50px;
  border:1px solid white;
  left: 27px;
}
.hg{
  width: 210px;
  height: 50px;
  border:1px solid white;
  left: 27px;top: 10px;
}
/*2*/
.n{
  margin-left: 65px;
  margin-left: 40px;
}
.lk{
  margin-left: 15px;
}
.of{
  margin-left: 100px;
  margin-top: 40px;
}
/*3*/

